.alert {
  background-image: url("/assets/base/bg-stripe.jpg");
  border: 3px solid #F66;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 30px;
  margin: 20px 0px;
}