/* table =================================================== */
.t1 {
  border: 1px solid #ccc;
  width: 100%;
}

.t1 th {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  text-align: right;
  width: 140px;
}

.t1 td {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}