@charset "UTF-8";

@import "_val";

@import "vendor/nprogress";
@import "vendor/toastr";

@import "common/reset";
@import "common/base";

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}