<div id="rooms-show">
  <div id="video-container">
    <div id="remote-video-container" class="video">
      <video id="remote-video"></video>
    </div>
    <div id="my-video-container" class="video">
      <video id="my-video"></video>
    </div>
  </div>
</div>

	<div style="position: fixed; right:10px; bottom:10px;">
	    <input id="message_area" type="text" placeholder="Input text here"/>
	</div>
	<div id="display_area" style="position: fixed; top:10px; left:10px;">
	</div>
