<duv id="rooms-show">
  <div id="video-container">
    <div id="remote-video-container" class="video">
      <video id="remote-video"></video>
    </div>
    <div id="my-video-container" class="video">
      <video id="my-video"></video>
    </div>
  </div>
   <script>
    var ROOM_ID = "<%= @room_id %>";
    var USER_ID =  "<%= @user_id%>";
  </script>
</div>